@import "tailwindcss";

body {
  overflow-x: hidden;
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  background-color: white;
  color: black;
}
